<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Overview</h1>
	<form action="#" th:object="${overview}" >
    	<p>Date one: <input type="text" th:field="*{dateOne}"/></p>
        <p>Date two: <input type="text" th:field="*{dateTwo}"/></p>
        <p>Date three: <input type="text" th:field="*{dateThree}"/></p>
        <p>Date four: <input type="text" th:field="*{dateFour}"/></p>
        <p>Date five: <input type="text" th:field="*{dateFive}"/></p>
    </form>
</body>
</html>